/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.mobile-nav {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
@media (min-width: 550px) {
  .mobile-nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  .mobile-nav {
    justify-content: flex-end;
  }
}
.mobile-nav a {
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 150%;
}
@media (min-width: 768px) {
  .mobile-nav a {
    padding: 2rem;
    margin: 1rem;
    max-width: 800px;
  }
}
.footer-navbar {
  display: flex;
  flex-direction: row;
}
.header {
  display: flex;
  padding: 2rem;
  margin-top: 2rem;
  border: 1px solid red;
  text-align: center;
  font-size: 200%;
  max-width: 1000px;
  justify-content: center;
}
.inputs {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
}
:root {
  height: 100%;
  background-image: linear-gradient(to bottom right, #d5e7db, white);
  margin: auto;
  overflow: hidden;
  max-width: 960px;
}
