  button {
	background-color:#e5f3e9;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display: inline-block;
	cursor:pointer;
    color: @headFontCol;
    font-size: 1.5rem;
    width: 18rem;
	padding: 3rem;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    text-align: center;
    }

    button:hover {
	background-color:#5cbf2a;
    }

    button:active {
	position:relative;
    top:1px;
    background-color: #5cbf2a;
    }

    button:focus {
	position:relative;
    top:1px;
    background-color: #5cbf2a;
    }

    
