.header {
    .displaycenter;
    padding: @bigPadding;
    margin: @bigMargin;
    border-bottom: 1px solid @headFontCol;
    text-align: center;
    font-size: 200%;
    max-width: 980px;
}

.title {
    .displaycenter;
    text-align: center;
    flex-wrap: wrap;
    font-size: @extraBigFont;
    color: @headFontCol;
    border-bottom: 1px solid @headFontCol;
    padding: @smallPadding;
    margin: @bigMargin;
}

.slider-headers {
    font-size: @bigFont;
    font-weight: bold;
    color: @headFontCol;
    text-align: center;
}

.h3s{
    .displaycenter;
    font-size: @bigFont;
    padding: @smallPadding;
    margin: @bigMargin;
    font-weight: bold;
    text-align: center;
    color: green;
}