.header {
    display: flex;
    padding: 2rem;
    margin: 2rem;
    border-bottom: 1px solid @headFontCol;
    text-align: center;
    font-size: 200%;
    max-width: 980px;
    justify-content: center;
}
.title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 4rem;
    color: @headFontCol;
    border-bottom: 1px solid @headFontCol;
    padding: 1rem;
    margin: 2rem;
}
.slider-headers {
    font-size: 2rem;
    font-weight: bold;
    color: @headFontCol;
    text-align: center;
}
.h3s{
    display: flex;
    font-size: 2rem;
    padding: 1rem;
    margin: 2rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    color: green;
}