.header {
    display: flex;
    padding: 2rem;
    margin-top: 2rem;
    border: 1px solid red;
    text-align: center;
    font-size: 200%;
    max-width: 980px;
    justify-content: center;
}
.title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 4rem;
    color: rgb(132, 132, 218);
    border-bottom: 1px solid rgb(140, 145, 190);
    padding: 1rem;
    margin: 2rem;
}
.slider-headers {
    font-size: 2rem;
    font-weight: bold;
    color: blue;
    text-align: center;
}