@import 'LESS\reset.less';
@import 'nav\navbar.less';
@import 'LESS\variables.less';
@import 'buttons\buttons.less';
@import 'LESS\header.less';
@import 'LESS\middle.less';
@import 'sliders\sliders.less';
@import 'resultBox\resultBox.less';
@import 'about\blog.less';
@import 'login\login.less';

:root {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(239, 233, 247), white);
    margin: auto;
    max-width: 960px;
    font-family: @fontExo;
}
.footertag{
    display: flex;
    justify-content: center;
    font-weight: 'bold';
    font-size: 1rem;
}





