@import '.\LESS\reset.less';
@import '.\LESS\navbar.less';
@import '.\LESS\variables.less';
@import '.\LESS\header.less';


:root {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(192, 231, 233), white);
    margin: 0, auto;
}





