.inputs {
    display: flex;
    padding: @bigPadding;
    margin: @bigMargin;
}
.activity-level {
    margin: 5rem 10rem;
}
.active-container {
    .displaycenter;
    max-width: 960px;
}

.exercise-container {
    .displaycenter;
    max-width: 960px;
    margin: 5rem 0rem;
}

.goal-container {
    .displaycenter;
    max-width: 960px;
    margin: 5rem 0rem;
}

#macroResults {
    display: none;
    justify-content:  center;
    font-weight: bold;
    font-size: @bigFont;
    padding: @bigPadding;
    margin: @bigMargin;
    border: 1px solid green;
}

.results-header {
    padding: @smallPadding;
    margin: @smallPadding;
}

.results {
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

p {
    padding: @smallPadding;
}

.get-macros {
   .displaycenter;

}

.inputs p {
    font-size: @bigFont;
    font-weight: 'bold'; 
    color: @headFontCol;
}



    