
// Tablet and desktop breakpoints, Trying mobile first approach
@tablet: ~"(min-width: 500px)";
@desktop: ~"(min-width: 768px)";

// Margins
@smallMargin: 1rem;
@normalMargin: 1.5rem;
@bigMargin: 2rem;

// padding
@smallPadding: 1rem;
@normalPadding: 1.5rem;
@bigPadding: 2rem;